@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

$foreground-dark: #f0f0f0;
$background-dark: hsl(220, 8%, 13%);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

:root {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

html {
  background: $background-dark;
  color: $foreground-dark;
}

body {
  min-height: 100%;

  header {
    height: 5rem;

    a.brand {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 1rem;
    }
  }

  main {
    height: 100%;
    margin: 1rem auto;

    max-width: 800px;
    padding: 1rem 2rem;

    h2.title {
      text-align: center;
    }

    p.subtitle {
      text-align: center;
    }

    h3.heading {
      padding-top: 2rem;
    }

    p.subheading {
      padding: 0.25rem 0;
    }
  }

  footer {
    text-align: center;

    a {
      font-size: 1.2rem;
      font-weight: bold;
    }

    span.copyright {
      font-size: 0.8rem;
    }
  }
}
